
{% extends "basic.html" %}
{% load static %}

 
	{% block head %}


{% endblock %}




{% block body %}


    
<div class="jumbotron">
    <h1 class="display-4">Be your own doctor with the help of disease spotter...</h1>
    
    <p class="lead">
      <b>
            It may have occurred so many times that you or someone you know requires quick medical attention, but they are unavailable for various reasons. The Disease Prediction system is a project for end-user assistance and online consultation. In this paper, we present a web application that uses an intelligent system to provide users with real-time advice on their ailment. The application receives numerous details as well as the disease connected with those details. The software allows users to communicate their disease-related concerns.It then examines user-specific information to look for illnesses that may be related with it. In this case, we employ clever machine learning algorithms to estimate the most correct ailment that may be linked to the patient's information. Based on the results, the patient might contact the doctor for additional treatment.
    </b>
                
  
     {% if user.is_authenticated %}

     
     {% else %}

      <p class="lead">
      <button type="button" class="btn btn-primary btn-lg"  data-toggle="modal" data-target=".bd-example-modal-lg">Let's Get started</button>
      </p>
    

</div>


<div class="container mt-5 mb-3" style="width:fit-content;">
      <center>
        <h1>Sign-In As</h1>
        </center>
      
      
      <form>
          <div class="container mt-5 mb-5">
       <div class="row">
          <div class="col">
             <a href="{% url 'sign_in_admin' %}">
      <img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
      </a>
          </div>
      
          <div class="col">
      <a href="{% url 'sign_in_doctor' %}">
      <img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
      </a>
          </div>
      
          <div class="col">
      <a href="{% url 'sign_in_patient' %}">
      <img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
      </a>
          </div>
        </div>
        </div>
      </form>
</div>


    

    {% endif %}





<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
<center>
  <h1>Sign-In As</h1>
  </center>
<br><br>

<center>
<form>
    <div class="container mt-5 mb-5">
 <div class="row">
    <div class="col">
       <a href="{% url 'sign_in_admin' %}">
<img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
</a>
    </div>

    <div class="col">
<a href="{% url 'sign_in_doctor' %}">
<img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
</a>
    </div>

    <div class="col">
<a href="{% url 'sign_in_patient' %}">
<img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
</a>
    </div>
  </div>
  </div>
</form>
</center>

    </div>
  </div>
</div>







<!-- Large modal -->

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
<center>
  <h1>Sign-Up As</h1>
  </center>
<br><br>

<center>
<form>
    <div class="container mt-5 mb-5 ml-5 mr-5">
 <div class="row">

    <div class="col">
<a href="{% url 'signup_doctor' %}">
<img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
</a>
    </div>

    <div class="col">
<a href="{% url 'signup_patient' %}">
<img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
</a>
    </div>
  </div>
  </div>
</form>
</center>

    </div>
  </div>
</div>






<center><h2>Our Doctors</h2></center>
<div class="row mt-5 mb-5">
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Dr. PRASAD PANDIT </h5>
                <img  alt="admin" src="{% static 'homepage/c31.jpg' %}" width="200" height="150" class="rounded">
                <p class="card-text">M.D. Pharmacology Medical superintendent, HBTMC & Dr. RN Cooper Hospital, Juhu, Mumbai-400056, Maharashtra, India</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Dr. AJAY KEDIA </h5>
                <img  alt="admin" src="{% static 'homepage/c41.jpg' %}" width="200" height="150" class="rounded">
                <p class="card-text">M.D. Cosmetologist , S V Road, Borivali, Mumbai-400056, Maharashtra, India.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">DR.FATEMA LOKHANDWALA</h5>
                <img  alt="admin" src="{% static 'homepage/s72.jpg' %}" width="200" height="150" class="rounded">
                <p class="card-text">M.D. Ophtalmology, Bandra, Mumbai-400056, Maharashtra, India</p>
            </div>
        </div>
    </div>
</div>
  



        












    <div id="footer" class="card bg-dark text-white">
      <div class="card-body">
        <h3>Contacts :</h3>
     
    <ul >
     <br>
      <li >
        <h5 class="mb-1">Email: jatinshihora0123@gmail.com</h5>
      </li>
      <li >
        <h5 class="mb-1">Contact no: 022-4233-5000</h5>
      </li> 
      <li >
        <h5 class="mb-1">Address: No. U-15, Bhaktivedanta Swami Rd, opp. Cooper Hospital, Navpada, JVPD Scheme, Vile Parle, Mumbai, Maharashtra 400056</h5>
        <br>
        <div class="footer-copyright text-center">© 2022 Copyright:
          <a href="#"> Disease Spotter</a>
        </div>
      </li>
      
    </ul>
  </div>
  </div>

  
 





</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    




    
{% endblock %}
